$maxWidth: 960px;
$cardWidth: calc(33.33333% - 40px);
$cardHeight: 230px;

$colorMain: #3498db;
$colorMainDarker: #2980b9;
$colorSecundary: #9b59b6;
$colorSecundaryDarker: #9b59b6;

$titleColor: #f5f5f5;
